<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="/assets/wm-icon.png"> Movie World</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/popular" routerLinkActive="active">Home <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/favorite" routerLinkActive="active">Favorite movies</a>
      </li>
    </ul>
  </div>
  <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline my-2 my-md-0">
    <input class="form-control mr-sm-1" name="keywords" type="search" placeholder="Search" aria-label="Search" required
      ngModel>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="bg-dark text-light">
  <div class="container mt-4">
    <div class="text-center">
      <small>By <a href="https://www.github.com/manimanis/">Mohamed Anis MANI</a> -
        &copy; <a href="https://andela.com/alc/">ALC</a> - Mobile Web Specialist Challenge</small>
    </div>
    <div class="text-center py-4">
      <a href="https://www.themoviedb.org/">
        <img src="/assets/pwbtmdb.svg" alt="The Movie DB" width="200px">
      </a>
    </div>
  </div>
</footer>
